@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* MODO CLARO */
  :root {
    --bg-primary: #FAFAFA; 
    --bg-secondary: #cdcdcd; 
    --text-main: #0A0A0A; 
    --text-dim: #434343; 
    --accent: #1351bd; 
    --accent-hover: #023c91; 
  }

  /* MODO OSCURO */
  .dark {
    --bg-primary: #0A0A0A; /* Gris abismal */
    --bg-secondary: #2a2a2a; /* Gris oscuro */
    --text-main: #F5F5F5; /* Blanco apagado */
    --text-dim: #c4c3c3; /* Gris claro */
    --accent: #ff2f89; 
    --accent-hover: #c31561; 
  }
}

body {
  @apply bg-primary text-textMain font-sans antialiased transition-colors duration-300;
}

/* Estilos personalizados para el carrusel de proyectos */
.carrusel-proyectos {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--accent) transparent;
}

/* Chrome, Edge y Safari */
.carrusel-proyectos::-webkit-scrollbar {
  height: 8px; 
}

.carrusel-proyectos::-webkit-scrollbar-track {
  background: transparent; 
  margin: 0 20px; 
}

.carrusel-proyectos::-webkit-scrollbar-thumb {
  background-color: var(--accent); 
  border-radius: 20px; 
  opacity: 0.7;
}

.carrusel-proyectos::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
  
}

